.container {
  max-width: 90%;
  margin: 20px auto;
}
@media (max-width: 450px) {
  .container {
    flex-direction: column;
    width: 100%;
  }
}
.search {
  width: 400px;
  margin: 10px auto;
  box-shadow: 3px 4px 10px rgb(158, 159, 163);
  z-index: 20;
}
@media (max-width: 1300px) {
  .search {
    width: 75%;
    margin: 10px auto;
  }
}
@media (max-width: 600px) {
  .search {
    width: 100%;
  }
}
#react-select-3-listbox {
  z-index: 30;
}
.locations {
  display: flex;
  max-width: 1200px;
  margin: auto;
}
@media (max-width: 1300px) {
  .locations {
    flex-direction: column;
  }
}
.sau {
  margin-top: 20px;
}
@media (max-width: 1300px) {
  .sau {
    margin: auto;
  }
}
.placeholderText {
  margin-left: 30px;
  font-weight: bold;
}
.palceholderIcon {
  margin-bottom: -20px;
}

.top {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(#06344e, #054c75, #011738);
  box-shadow: 3px 4px 15px rgb(63, 64, 66);
  margin: 20px auto 10px auto;
  border-radius: 5px;
  max-width: 1100px;
  padding: 5px;
}
@media (max-width: 1300px) {
  .top {
    flex-direction: column;
    width: 75%;
    padding: 10px;
  }
}
@media (max-width: 600px) {
  .top {
    flex-direction: column;
    width: 100%;
    margin-left: -3%;
  }
}
.top img {
  max-width: 550px;
  max-height: 300px;
  border-radius: 3px;
}
@media (max-width: 1300px) {
  .top img {
    max-width: 1300px;
    max-height: 550px;
    margin: -5px -5px 0px -5px;
  }
}
.weather {
  width: 100%;
  color: white;
  border-radius: 5px;
  line-height: 1.8;
  text-align: right;
}
@media (max-width: 1300px) {
  .weather {
    margin-top: 5px;
  }
}
.top-weather {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;
  text-align: right;
  margin-bottom: 25px;
}
@media (max-width: 1300px) {
  .top-weather {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}
.bottom-weather {
  display: flex;
}
@media (max-width: 1300px) {
  .bottom-weather {
    flex-direction: column;
  }
}
.datas1 {
  display: flex;
  justify-content: space-between;
  flex: 1 1;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 5%;
}
@media (max-width: 1300px) {
  .datas1 {
    margin: 10px 0px 0px 0px;
  }
}
.datas2 {
  display: flex;
  justify-content: space-between;
  flex: 1 1;
  flex-direction: column;
  margin-right: 15px;
  margin-left: 5%;
}
@media (max-width: 1300px) {
  .datas2 {
    margin: 20px 0px 0px 0px;
  }
}
.city {
  font-size: 26px;
  font-weight: 600;
  line-height: 1;
  margin: 0;
}
@media (max-width: 1300px) {
  .city {
    font-size: 24px;
  }
}
.description-top {
  font-size: 13px;
  line-height: 1.5;
  margin: 0;
  padding-bottom: 8px;
}
.weather-icon {
  width: 50px;
  margin-right: 10px;
}
@media (max-width: 1300px) {
  .weather-icon {
    margin-right: 0px;
  }
}
.row {
  display: flex;
  justify-content: space-between;
}
.wind-box {
  line-height: 2;
  padding-right: 10px;
}
@media (max-width: 1300px) {
  .wind-box {
    padding-right: 10px;
  }
}

.forecast {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 10px auto 10px auto;
  padding: 10px 10px 10px 20px;
  border-radius: 5px;
  line-height: 1.8;
  background: linear-gradient(#06657d, #194270, #071a37);
  box-shadow: 3px 4px 15px rgb(63, 64, 66);
  color: white;
  cursor: pointer;
}
@media (max-width: 1300px) {
  .forecast {
    flex-direction: column;
    width: 75%;
    background: linear-gradient(0.25turn, #06657d, #194270, #071a37);
    padding: 10px;
  }
}
@media (max-width: 600px) {
  .forecast {
    width: 100%;
    margin-left: -3%;
  }
}
.forecast-bottom {
  background: linear-gradient(#0e264d, #24486a, #284969);
  display: flex;
  justify-content: flex-end;
  padding: 5px 10px;
  border-radius: 3px;
  margin-left: -10px;
  width: 110px;
}
@media (max-width: 1300px) {
  .forecast-bottom {
    justify-content: space-between;
    background: linear-gradient(0.25turn, #0e264d, #24486a, #284969);
    border-radius: 0px;
    margin-left: -10px;
    padding-left: 20px;
    margin-right: -10px;
    padding-right: 20px;
    margin-bottom: 8px;
    width: auto;
  }
}
.hours {
  font-size: 17px;
  font-weight: 600;
  margin-right: 15px;
}
@media (max-width: 1300px) {
  .hours {
    text-align: left;
    margin-top: 5px;
    margin-left: 4px;
    padding-left: 10px;
  }
}
.icon-align {
  text-align: right;
  padding-right: 10px;
  padding-bottom: 5px;
}
@media (max-width: 1300px) {
  .icon-align {
    text-align: left;
    margin-bottom: -95px;
    padding-left: 10px;
  }
}
.icon-small {
  width: 40px;
  margin-bottom: -5px;
}
.day {
  font-weight: 600;
  font-size: 20px;
  width: 165.5px;
}
.dayDate {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  font-size: 14px;
}
@media (max-width: 1300px) {
  .dayDate {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 13px;
  }
}
.description {
  font-size: 12px;
  line-height: 0.8;
  margin: 0;
  padding-bottom: 18px;
}
@media (max-width: 1300px) {
  .description {
    line-height: 0.8;
  }
}
.details {
  width: 100%;
  line-height: 1.8;
  text-align: right;
}
.min-max {
  display: flex;
  justify-content: flex-end;
}
.hide {
  display: none;
}
.line {
  display: none;
}
@media (max-width: 1300px) {
  .line {
    display: block;
    width: 100%;
    height: 0.5px;
    background: #d3d3d3;
  }
}
.wind-icon {
  font-size: 24px;
  margin-bottom: 5px;
}
.spacing {
  line-height: 1.8;
  width: 80px;
}
.day-container {
  display: flex;
  flex-direction: column;
}
.arrow {
  text-align: center;
  font-size: 20px;
  margin-bottom: -12px;
  margin-top: 5px;
}

.map {
  margin: 30px auto 30px auto;
  height: 700px;
  width: 90%;
  padding: 14px;
  box-shadow: 3px 4px 15px rgb(163, 164, 167);
  cursor: pointer;
}
@media (max-width: 1300px) {
  .map {
    width: 75%;
    padding: 10px;
    height: 600px;
  }
}
@media (max-width: 600px) {
  .map {
    width: 100%;
    margin-left: -3%;
    height: 500px;
  }
}

.detectLocation {
  position: relative;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  z-index: 800;
  width: 44px;
  height: 44px;
  border: 2px solid rgb(143, 142, 142);
  border-radius: 4px;
  background: white;
  cursor: pointer;
}

.gpsIcon {
  font-size: 28px;
  color: rgb(116, 115, 115);
}
.gpsIcon:hover {
  color: rgb(60, 22, 228);
}
