.container {
  max-width: 90%;
  margin: 20px auto 30px auto;
}
@media (max-width: 450px) {
  .container {
    flex-direction: column;
    width: 100%;
  }
}
.appTitle {
  display: flex;
  align-items: left;
}
@media (max-width: 1300px) {
  .appTitle {
    transform: scale(0.9);
    margin-top: -10px;
  }
}
@media (max-width: 900px) {
  .appTitle {
    transform: scale(0.8);
  }
}
@media (max-width: 600px) {
  .appTitle {
    transform: scale(0.7);
    margin-left: -50px;
  }
}
.title {
  font-size: 26px;
  font-weight: bold;
  color: #050f55;
  text-shadow: 2px 2px 3px rgb(141, 139, 139);
  margin-right: 10px;
  margin-top: 2px;
}

.search {
  width: 400px;
  margin: 10px auto;
  box-shadow: 3px 4px 10px rgb(158, 159, 163);
  z-index: 20;
}
@media (max-width: 1300px) {
  .search {
    width: 80%;
    margin: 10px auto;
  }
}
@media (max-width: 600px) {
  .search {
    width: 100%;
  }
}
#react-select-3-listbox {
  z-index: 30;
}
.locations {
  display: flex;
  max-width: 1200px;
  margin: auto;
}
@media (max-width: 1300px) {
  .locations {
    flex-direction: column;
  }
}
.sau {
  margin-top: 20px;
}
@media (max-width: 1300px) {
  .sau {
    margin: auto;
    font-size: 14px;
  }
}
.placeholderText {
  margin-left: 30px;
  color: rgb(63, 64, 66);
}
.palceholderIcon {
  margin-bottom: -24px;
}

.top {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(#06344e, #054c75, #011738);
  box-shadow: 3px 4px 8px rgb(63, 64, 66);
  margin: 30px auto 10px auto;
  border-radius: 5px;
  padding: 5px;
}
@media (max-width: 1300px) {
  .top {
    flex-direction: column;
    width: 80%;
    padding: 10px;
  }
}
@media (max-width: 600px) {
  .top {
    flex-direction: column;
    width: 100%;
    margin-left: -3%;
  }
}
.top img {
  max-width: 600px;
  max-height: 400px;
  border-radius: 5px;
}
@media (max-width: 1300px) {
  .top img {
    max-width: 1300px;
    max-height: 550px;
    margin: -6px;
  }
}
.weather {
  width: 100%;
  color: white;
  border-radius: 5px;
  line-height: 1.8;
  text-align: right;
}
@media (max-width: 1300px) {
  .weather {
    margin-top: 5px;
  }
}
.top-weather {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 20px;
  text-align: right;
  margin-bottom: 40px;
}
@media (max-width: 1300px) {
  .top-weather {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 0px;
  }
}
.bottom-weather {
  display: flex;
  margin-top: 10px;
}
@media (max-width: 1300px) {
  .bottom-weather {
    flex-direction: column;
    margin-bottom: 10px;
  }
}
.datas1 {
  display: flex;
  justify-content: space-between;
  flex: 1 1;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 5%;
}
@media (max-width: 1300px) {
  .datas1 {
    margin: 10px 0px 0px 0px;
  }
}
.datas2 {
  display: flex;
  justify-content: space-between;
  flex: 1 1;
  flex-direction: column;
  margin-right: 15px;
  margin-left: 5%;
}
@media (max-width: 1300px) {
  .datas2 {
    margin: 20px 0px 0px 0px;
  }
}
.city {
  font-size: 26px;
  font-weight: 600;
  line-height: 1;
  margin: 0;
}
@media (max-width: 1300px) {
  .city {
    font-size: 24px;
  }
}
.description-top {
  font-size: 13px;
  line-height: 1.5;
  margin: 0;
  padding-bottom: 8px;
}
.weather-icon {
  width: 50px;
  margin-right: 10px;
}
@media (max-width: 1300px) {
  .weather-icon {
    margin-right: 0px;
  }
}
.row {
  display: flex;
  justify-content: space-between;
}
.wind-box {
  line-height: 2;
  padding-right: 10px;
}
@media (max-width: 1300px) {
  .wind-box {
    padding-right: 10px;
  }
}

.forecast {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 10px auto 10px auto;
  padding: 10px;
  border-radius: 5px;
  line-height: 1.8;
  background: linear-gradient(#06657d, #194270, #071a37);
  box-shadow: 3px 4px 8px rgb(63, 64, 66);
  color: white;
  cursor: pointer;
}
@media (max-width: 1300px) {
  .forecast {
    margin: 10px auto 10px auto;
    flex-direction: column;
    width: 80%;
    background: linear-gradient(0.25turn, #06657d, #194270, #071a37);
  }
}
@media (max-width: 600px) {
  .forecast {
    width: 100%;
    margin-left: -3%;
  }
}
.forecast-bottom {
  background: linear-gradient(#0e264d, #24486a, #284969);
  display: flex;
  justify-content: flex-end;
  padding: 5px 10px;
  border-radius: 3px;
  margin-left: -10px;
  width: 110px;
}
@media (max-width: 1300px) {
  .forecast-bottom {
    justify-content: space-between;
    background: linear-gradient(0.25turn, #0e264d, #24486a, #284969);
    border-radius: 0px;
    margin-left: -10px;
    padding-left: 20px;
    margin-right: -10px;
    padding-right: 20px;
    margin-bottom: 8px;
    width: auto;
  }
}
.hours {
  font-size: 17px;
  font-weight: 600;
  margin-right: 15px;
}
@media (max-width: 1300px) {
  .hours {
    text-align: left;
    margin-top: 5px;
    margin-left: 4px;
    padding-left: 10px;
  }
}
.icon-align {
  text-align: right;
  padding-right: 10px;
  padding-bottom: 5px;
}
@media (max-width: 1300px) {
  .icon-align {
    text-align: left;
    margin-bottom: -95px;
    padding-left: 10px;
  }
}
.icon-small {
  width: 40px;
  margin-bottom: -5px;
}
.day {
  font-weight: 600;
  font-size: 20px;
  width: 165.5px;
}
.dayDate {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  font-size: 14px;
}
@media (max-width: 1300px) {
  .dayDate {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 13px;
  }
}
.description {
  font-size: 12px;
  line-height: 0.8;
  margin: 0;
  padding-bottom: 18px;
}
@media (max-width: 1300px) {
  .description {
    line-height: 0.8;
  }
}
.details {
  width: 100%;
  line-height: 1.8;
  text-align: right;
}
.min-max {
  display: flex;
  justify-content: flex-end;
}
.hide {
  display: none;
}
.line {
  display: none;
}
@media (max-width: 1300px) {
  .line {
    display: block;
    width: 100%;
    height: 0.5px;
    background: #d3d3d3;
  }
}
.wind-icon {
  font-size: 24px;
  margin-bottom: 5px;
}
.spacing {
  line-height: 1.8;
  width: 80px;
}
.day-container {
  display: flex;
  flex-direction: column;
}
.arrow {
  text-align: center;
  font-size: 20px;
  margin-bottom: -12px;
  margin-top: 5px;
}

.map {
  margin: 30px auto 5px auto;
  height: 700px;
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 15px 1px rgb(180, 180, 180);
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 1300px) {
  .map {
    width: 80%;
    height: 500px;
  }
}
@media (max-width: 600px) {
  .map {
    width: 102%;
    margin-left: -3%;
    height: 450px;
    padding: 5px;
  }
}

.changeMap {
  position: relative;
  float: left;
  bottom: 0;
  margin-top: 625px;
  margin-left: 5px;
  z-index: 800;
  width: 70px;
  height: 70px;
  border: 2px solid rgb(113, 112, 112);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgb(149, 149, 149);
}
.changeMap:hover {
  transform: scale(1.05);
}
@media (max-width: 1300px) {
  .changeMap {
    width: 60px;
    height: 60px;
    margin-top: 435px;
  }
}
@media (max-width: 600px) {
  .changeMap {
    margin-top: 385px;
  }
}

.gpsIcon {
  font-size: 24px;
  color: rgb(91, 90, 90);
  background: white;
  border: 1.5px solid rgb(116, 115, 115);
  padding: 5px;
  z-index: 800;
  cursor: pointer;
  margin-top: 8px;
  margin-right: 8px;
}
.gpsIcon:hover {
  color: rgb(48, 83, 164);
}

.shareLocationText {
  margin-bottom: 50px;
}
@media (max-width: 1300px) {
  .shareLocationText {
    margin: 0 auto 50px auto;
    width: 80%;
  }
}
@media (max-width: 600px) {
  .shareLocationText {
    width: 100%;
  }
}
.shareLocationText a {
  color: rgb(1, 146, 11);
}

.windymap {
  margin: 10px auto 10px auto;
  height: 600px;
  width: 100%;
  padding: 4px 10px 40px 10px;
  box-shadow: 0 0 15px 1px rgb(180, 180, 180);
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 1300px) {
  .windymap {
    width: 80%;
    height: 500px;
  }
}
@media (max-width: 600px) {
  .windymap {
    width: 102%;
    margin-left: -3%;
    height: 450px;
    padding: 4px 5px 30px 5px;
  }
}
.windyBtn {
  cursor: pointer;
  padding: 3px;
  border: 1px solid rgb(171, 171, 171);
  margin-left: 5px;
  border-radius: 5px;
  background: rgb(228, 195, 134);
}
@media (max-width: 1300px) {
  .windyBtn {
    font-size: 10px;
  }
}
@media (max-width: 600px) {
  .windyBtn {
    font-size: 9px;
    margin-left: 3px;
  }
}
.windyFonts {
  float: right;
  margin-bottom: 3px;
}
@media (max-width: 1300px) {
  .windyFonts {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .windyFonts {
    font-size: 12px;
  }
}
